@import "../../styles/colors";

.LarpDetails {
  width: 100%;
  margin: 0;
  color: $dark;

  .banner {
    width: 100%;
    aspect-ratio: 7/3;
    position: relative;

    .DurationDisplay {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  section {
    padding: 1rem 0.5rem;
  }

  .LarpDetails-content {
    margin: 1rem;
  }

  .headlineDate {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .title {
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
