@use "../styles/colors";

.Footer {
  width: 100%;
  min-height: 3rem;
  background-color: colors.$dark;
  color: colors.$pale-blue;

  .copyright {
    color: colors.$pale-blue;
    display: box;
    text-align: center;
    padding: 1rem;

    a {
      color: colors.$pale-blue;
      text-decoration: underline;
    }
  }
}
