@import "../../styles/colors";

.OrgDetails {
  width: 100%;
  margin: 0;
  color: $dark;

  .banner {
    width: 100%;
    aspect-ratio: 7/3;
    position: relative;
    background-color: #e7e7e7;

    .organizerControls {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      border-radius: 5px;
      background-color: #070707;

      a {
        color: #e7e7e7;
        margin: 0 0.5rem;
        font-size: 2rem;
        transition: color 0.3s ease;

        &:hover {
          color: white;
        }
      }
    }
  }

  section {
    padding: 1rem 0.5rem;
  }

  .OrgDetails-content {
    margin: 1rem;
  }

  .headlineDate {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .title {
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
